.SideDrawer{
    height: 100%;
    width: 70%;
    background-color: aliceblue;
    position: fixed;
    top: 0;
    right: 0;
    max-width: 400px;
    transform: translate(100%);
    transition: transform 0.3s ease-out;
    z-index:3;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);

   
}

.SideDrawer.Open{
    transform: translate(0);
}