.Profile_Header {
  display: gride;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 10px;
  margin: 20px;
}

.Profile-Access {
  display: flex;
  align-items: center;
}

.Profile_img img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.Profile_name {
  padding-left: 20px;
  display: block
}
.Profile_name p{
  font-size: 16px;
  margin-bottom: 5px;
}

.Profile_Sammery {
  display: flex;
  gap: 5px;
  align-items: center;
  direction: rtl;
  margin-right: 10px;

}


.Profile_Sammery button {
  background-color: white;
  font-size: 16px;
  padding: 7px;


}



.ProductImage {
  display: flex;
  justify-content: center;
}

.ProductImage img {
  max-width: 910px;
  min-width: 768px;
  max-height: 778px;
}

.share-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.veiws-Downloads {
  display: flex;
  align-items: center;
}

.Downloads {
  margin-left: 20px;
}

.btn_share-info button {
  font-size: 16px;
  margin-right: 5px;
  padding: 5px;
}