.Toolbar {
    background-color: rgb(94, 44, 245);
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.Toolbar_Navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;

}

.Navigation_Items ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.Navigation_Items ul li {
    list-style: none;
}

.Navigation_Items ul li a {
    text-decoration: none;
    color: bisque;
}

.Navigation_Items ul li a:hover {
    color: white;
}

.SingIn button {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
}

.logo img {
   
    text-align: center;
    width: 48px;
    height: 48px;

}

.berger {
    visibility: hidden;
    margin-right: 5px;
}


@media(max-width: 800px){
    .Navigation_Items{
        display: none;
    }
    .berger{
        visibility: visible;
    }
}